.btn {
    cursor: pointer;
    background-color: #9c88ff;
    box-shadow: var(--box-shadow);
    color: #fff;
    border: 0;
    display: block;
    font-size: 16px;
    margin: 10px 0 30px;
    padding: 10px;
    width: 30%;
  }
  
  .btn:focus,
  .delete-btn:focus {
    outline: 0;
  }
  
  .btn:focus,
  .update-btn:focus {
    outline: 0;
  }
  
  .delete-btn {
    cursor: pointer;
    background-color: #e74c3c;
    border: 0;
    border-radius: 5px;
    color: #fff;
    font-size: 90%;
    line-height: 90%;
    padding: 3% 7%;

  }


#container-btn {
    display: flex;
    margin-bottom: 2rem;
    display: flex;
    justify-content: end;
    gap: 8px;
    margin-left:2rem ;
}
  
  .update-btn {
      cursor: pointer;
      background-color: #3ce753;
      border: 0;
      border-radius: 5px;
      color: #fff;
      font-size: 95%;
      line-height: 95%;
      padding: 3% 7%;
    }
    