@media screen and (max-width: 600px){

    .container {
        margin: auto;
        min-width: 80%;
        min-height: 30%;
        background-color: black;
        border-radius: 3%;
        padding: 2%;
        margin-bottom: 2rem;

      }

      .money.plus {
        color: #2ecc71;
        font-size: 20px;
      }
      
      .money.minus {
        color: #c0392b;
        font-size: 20px;
      
      }


      .transactions li {
        background-color: black;
        box-shadow: var(--box-shadow);
        color: #fff;
        display: flex;
        flex-direction: row;
        position: relative;
        font-size: 1em;
        padding: 10px;
        margin: 10px 0;
      }

      .delete-btn {
        cursor: pointer;
        background-color: #e74c3c;
        border: 0;
        border-radius: 5px;
        color: #fff;
        font-size: 90%;
        line-height: 90%;
        padding: 3% 7%;
    
      }
    
    
    #container-btn {
        display: flex;
        margin-bottom: 2rem;
        display: flex;
        justify-content: end;
        gap: 8px;
        margin-left: 10rem;
    }
      
      .update-btn {
          cursor: pointer;
          background-color: #3ce753;
          border: 0;
          border-radius: 5px;
          color: #fff;
          font-size: 95%;
          line-height: 95%;
          padding: 3% 7%;
        }
        
  }


  @media screen and (min-width: 600px) and (max-width: 1500px){

    .container {
        margin: auto;
        min-width: 400px;
        background-color: black;
        border-radius: 3%;
        padding: 2%;
      }


      .money.plus {
        color: #2ecc71;
        font-size: 14px;
      }
      
      .money.minus {
        color: #c0392b;
        font-size: 14px;
      
      }


      .transactions li {
        background-color: black;
        box-shadow: var(--box-shadow);
        color: #fff;
        display: flex;
        flex-direction: row;
        position: relative;
        font-size: 1em;
        padding: 10px;
        margin: 10px 0;
      }

      .delete-btn {
        cursor: pointer;
        background-color: #e74c3c;
        border-radius: 5px;
        color: #fff;
        font-size: 90%;
        line-height: 90%;
        padding: 3% 7%;
    
      }
    
    
    #container-btn {
        display: flex;
        margin-bottom: 2rem;
        display: flex;
        justify-content: end;
        gap: 8px;
        margin-left: 70%;
    }
      
      .update-btn {
          cursor: pointer;
          background-color: #3ce753;
          border: 0;
          border-radius: 5px;
          color: #fff;
          font-size: 95%;
          line-height: 95%;
          padding: 3% 7%;
        }
        
    
  }